.icoAdd{background-image: url('http://ico.daffodil.uk.com/add.png') !important;}
.icoAgsClasses{background-image: url('http://ico.daffodil.uk.com/shape_align_left.png') !important;}
.icoAgsGroups{background-image: url('http://ico.daffodil.uk.com/shape_move_back.png') !important;}
.icoAgsHeadings{background-image: url('http://ico.daffodil.uk.com/shape_ungroup.png') !important;}
.icoBack{background-image: url('http://ico.daffodil.uk.com/arrow_left.png') !important;}
.icoBlack{background-image: url('http://ico.daffodil.uk.com/bullet_black.png') !important;}
.icoBlue{background-image: url('http://ico.daffodil.uk.com/bullet_blue.png') !important;}
.icoBrowse{background-image: url('http://ico.daffodil.uk.com/browse.png') !important;}
.icoCancel{background-image: url('http://ico.daffodil.uk.com/bullet_black.png') !important;}
.icoClean{background-image: url('http://ico.daffodil.uk.com/bullet_black.png') !important;}
.icoClipboard{background-image: url('http://ico.daffodil.uk.com/page_paste.png') !important;}
.icoClose{background-image: url('http://ico.daffodil.uk.com/cross.png') !important;}
.icoContact{background-image: url('http://ico.daffodil.uk.com/user.png') !important;}
.icoContactAdd{background-image: url('http://ico.daffodil.uk.com/user_add.png') !important;}
.icoContactDelete{background-image: url('http://ico.daffodil.uk.com/user_delete.png') !important;}
.icoContactEdit{background-image: url('http://ico.daffodil.uk.com/user_edit.png') !important;}
.icoContactView{background-image: url('http://ico.daffodil.uk.com/user.png') !important;}
.icoDashBoard{background-image: url('http://ico.daffodil.uk.com/plugin.png') !important;}
.icoDelete{background-image: url('http://ico.daffodil.uk.com/delete.png') !important;}
.icoDetails{background-image: url('http://ico.daffodil.uk.com/bullet_white.png') !important;}
.icoDev{background-image: url('http://ico.daffodil.uk.com/wand.png') !important;}
.icoDiggs{background-image: url('http://ico.daffodil.uk.com/database_table.png') !important;}
.icoDirty{background-image: url('http://ico.daffodil.uk.com/bullet_red.png') !important;}
.icoDownload{background-image: url('http://ico.daffodil.uk.com/page_white_put.png') !important;}
.icoEdit{background-image: url('http://ico.daffodil.uk.com/page_white_edit.png') !important;}
.icoEmail{background-image: url('http://ico.daffodil.uk.com/email.png') !important;}
.icoEnd{background-image: url('http://ico.daffodil.uk.com/control_stop_blue.png') !important;}
.icoError{background-image: url('http://ico.daffodil.uk.com/exclamation.png') !important;}
.icoFax{background-image: url('http://ico.daffodil.uk.com/newspaper.png') !important;}
.icoFile{background-image: url('http://ico.daffodil.uk.com/geo_job.png') !important;}
.icoFileCopy{background-image: url('http://ico.daffodil.uk.com/page_white_copy.png') !important;}
.icoFileDelete{background-image: url('http://ico.daffodil.uk.com/page_white_delete.png') !important;}
.icoFileOpen{background-image: url('http://ico.daffodil.uk.com/page_white_go.png') !important;}
.icoFileRename{background-image: url('http://ico.daffodil.uk.com/page_white_edit.png') !important;}
.icoFilterOff{background-image: url('http://ico.daffodil.uk.com/bullet_purple.png') !important;}
.icoFilterOn{background-image: url('http://ico.daffodil.uk.com/bullet_pink.png') !important;}
.icoFolder{background-image: url('http://ico.daffodil.uk.com/folder.png') !important;}
.icoFolderAdd{background-image: url('http://ico.daffodil.uk.com/folder_add.png') !important;}
.icoForward{background-image: url('http://ico.daffodil.uk.com/arrow_right.png') !important;}
.icoFreeText{background-image: url('http://ico.daffodil.uk.com/textfield.png') !important;}
.icoGo{background-image: url('http://ico.daffodil.uk.com/bullet_go.png') !important;}
.icoGreen{background-image: url('http://ico.daffodil.uk.com/bullet_green.png') !important;}
.icoHelp{background-image: url('http://ico.daffodil.uk.com/help.png') !important;}
.icoHome{background-image: url('http://ico.daffodil.uk.com/house.png') !important;}
.icoInvis{background-image: url('http://ico.daffodil.uk.com/transparent.png') !important;}
.icoLanServer{background-image: url('http://ico.daffodil.uk.com/server.png') !important;}
.icoLogin{background-image: url('http://ico.daffodil.uk.com/connect.png') !important;}
.icoMerge{background-image: url('http://ico.daffodil.uk.com/table_relationship.png') !important;}
.icoMessage{background-image: url('http://ico.daffodil.uk.com/text_signature.png') !important;}
.icoNext{background-image: url('http://ico.daffodil.uk.com/arrow_right.png') !important;}
.icoOff{background-image: url('http://ico.daffodil.uk.com/bullet_black.png') !important;}
.icoOn{background-image: url('http://ico.daffodil.uk.com/bullet_green.png') !important;}
.icoOrange{background-image: url('http://ico.daffodil.uk.com/bullet_orange.png') !important;}
.icoPink{background-image: url('http://ico.daffodil.uk.com/bullet_pink.png') !important;}
.icoPrev{background-image: url('http://ico.daffodil.uk.com/arrow_left.png') !important;}
.icoPurlple{background-image: url('http://ico.daffodil.uk.com/bullet_purple.png') !important;}
.icoQuit{background-image: url('http://ico.daffodil.uk.com/control_eject.png') !important;}
.icoRed{background-image: url('http://ico.daffodil.uk.com/bullet_red.png') !important;}
.icoRefresh{background-image: url('http://ico.daffodil.uk.com/arrow_refresh.png') !important;}
.icoRefresh2{background-image: url('http://ico.daffodil.uk.com/refresh.gif') !important;}
.icoReport{background-image: url('http://ico.daffodil.uk.com/chart_curve.png') !important;}
.icoRootTree{background-image: url('http://ico.daffodil.uk.com/sitemap_color.png') !important;}
.icoSample{background-image: url('http://ico.daffodil.uk.com/tag_green.png') !important;}
.icoSampleAdd{background-image: url('http://ico.daffodil.uk.com/tag_blue_add.png') !important;}
.icoSampleDelete{background-image: url('http://ico.daffodil.uk.com/tag_blue_delete.png') !important;}
.icoSamples{background-image: url('http://ico.daffodil.uk.com/tag_blue.png') !important;}
.icoSave{background-image: url('http://ico.daffodil.uk.com/accept.png') !important;}
.icoSearch{background-image: url('http://ico.daffodil.uk.com/find.png') !important;}
.icoSettings{background-image: url('http://ico.daffodil.uk.com/plugin.png') !important;}
.icoShortcuts{background-image: url('http://ico.daffodil.uk.com/arrow_inout.png') !important;}
.icoShowLess{background-image: url('http://ico.daffodil.uk.com/zoom_out.png') !important;}
.icoShowMore{background-image: url('http://ico.daffodil.uk.com/zoom_in.png') !important;}
.icoSms{background-image: url('http://ico.daffodil.uk.com/phone.png') !important;}
.icoStart{background-image: url('http://ico.daffodil.uk.com/control_play_blue.png') !important;}
.icoTel{background-image: url('http://ico.daffodil.uk.com/telephone.png') !important;}
.icoTest{background-image: url('http://ico.daffodil.uk.com/chart_line.png') !important;}
.icoTestAdd{background-image: url('http://ico.daffodil.uk.com/chart_line_add.png') !important;}
.icoTestDelete{background-image: url('http://ico.daffodil.uk.com/chart_line_delete.png') !important;}
.icoTestEdit{background-image: url('http://ico.daffodil.uk.com/chart_line_edit.png') !important;}
.icoUpload{background-image: url('http://ico.daffodil.uk.com/page_white_get.png') !important;}
.icoUsers{background-image: url('http://ico.daffodil.uk.com/group_gear.png') !important;}
.icoWeekView{background-image: url('http://ico.daffodil.uk.com/calendar_view_week.png') !important;}
.icoWizard{background-image: url('http://ico.daffodil.uk.com/wand.png') !important;}
.icoYellow{background-image: url('http://ico.daffodil.uk.com/bullet_yellow.png') !important;}


