{% extends "container.html" %}

{% block content %}
<h1>Welcome to the cloud</h1>

<div class="bubble">
<h2>Welcome to the AGS cloud</h2>
<p>This website is an experiment of presenting the AGS data using Google App Engine</p>
</div>


<p>This site is work in progress and an experiment using the Google Platform server side.</p>

<p>All the code will be revealed soon under GPL once I get the plugins working</P>

<p>Anyone whose curious in creating a web service with ajax etc then pedromorgan AT gmail DOT com</p>

<p>This stuff works on Ubuntu Linux and Opera, Chrome, Firefox and is developemtn stage</p>

<p>Windows guinea pigs wanted and its easy</p>


{% endblock %}